<%= erb :'partial/head' %>

        <% if @quotes.any? %>
          <% @quotes.each_with_index { |quote, i| %>
            <% if i <= 5 %>
              <section>
                <header>
                  <p>
                    <img alt="Language: <%= quote.language %>" src="<%= @domain %>/images/flags/<%= quote.language %>.gif" width="12" height="12" /> 
                    From <a href="<%= @domain %>/source/<%= quote.source.gsub(/\s/, '%20') %>"><%= quote.source %></a> posted <%= quote.created_at.strftime('the %d/%m/%Y at %H:%M:%S') %> (#<a href="<%= @domain %>/get/<%= quote.id %>"><%= quote.id %></a> | votes: <a href="<%= @domain %>/vote/<%= quote.id %>"><%= quote.n_votes %></a> | views: <%= quote.n_visitors %>) <% if admin? || owner_of?(quote) %><a href="<%= @domain %>/delete/<%= quote.id %>" title="Delete"><i class="icon-trash"></i></a><a href="<%= @domain %>/edit/<%= quote.id %>" title="Edit"><i class="icon-edit"></i></a><% end %><br />
                    <img alt="Spacer" src="<%= @domain %>/images/spacer.gif" width="12" height="12" /> 
                    <% if quote.tags.split(/,/).any? %>
                      Tags: <i>
                      <% quote.tags.split(/,/).each { |tag| %>
                        <a href="<%= @domain %>/tag/<%= tag.strip.gsub(/\s/, '%20') %>"><%= tag %></a>
                      <% } %>
                      </i>
                    <% else %>
                      <i>No tags assigned</i>
                    <% end %>
                  </p>
                </header>
                
                <article>
                  <p>
                    <%= '<span class="spoiler">' if !@quotes.one? && quote.spoiler? %>
                    <%= quote.quote.nl2br %>
                    <%= '</span>' if !@quotes.one? && quote.spoiler? %>
                  </p>
                </article>
                <footer class="share">
                    <div class="shareme" data-url="<%= @domain %>/get/<%= quote.id %>" data-text="<%= quote.quote[0..113] %> [...]"></div>
                </footer>
              </section>
            <% end %>
          <% } %>
        <% else %>
          <p>No quotes found.</p>
        <% end %>
        
        <% if @previous || @next %>
          <div id="pagination" class="text-center">
              <p>
                <% if @previous%><a href="<%= @domain %><%= @current_page != '/' ? @current_page.delete_page_by_url : '/page' %>/<%= @page - 1 %>">Previous</a><% end %>
                <% if @next %><a href="<%= @domain %><%= @current_page    != '/' ? @current_page.delete_page_by_url : '/page' %>/<%= @page + 1 %>">Next</a><% end %>
              </p>
          </div>
        <% end %>
        
<%= erb :'partial/foot' %>
