<%= erb :'partial/head' %>
      
        <% if @quotes.any? %>
          <% @quotes.each_with_index { |quote, i| %>
            <% if i <= 5 %>
              <section>
                <header>
                  <p>
                    <img alt="Language: <%= quote.language %>" src="<%= @domain %>/images/flags/<%= quote.language %>.gif" width="12" height="12" /> 
                    From <a href="<%= @domain %>/source/<%= quote.source %>"><%= quote.source %></a> posted <%= quote.created_at.strftime(fmt='the %D at %R') %> (#<a href="<%= @domain %>/get/<%= quote.id %>"><%= quote.id %></a> | <a href="<%= @domain %>/vote/<%= quote.id %>"><%= quote.n_votes %> votes</a>)<br />
                    <img alt="Spacer" src="<%= @domain %>/images/spacer.gif" width="12" height="12" /> 
                    <% if quote.tags.split(/,/).any? %>
                      Tags: <i>
                      <% quote.tags.split(/,/).each { |tag| %>
                        <a href="<%= @domain %>/tag/<%= tag %>"><%= tag %></a>
                      <% } %>
                      </i>
                    <% else %>
                      <i>No tags assigned</i>
                    <% end %>
                  </p>
                </header>
                
                <article>
                  <p>
                    <%= quote.quote.gsub(/\n/, "<br />\n") %>
                  </p>
                </article>
                <footer class="share">
                    <div class="shareme" data-url="<%= @domain %>/get/<%= quote.id %>" data-text="<%= quote.quote[0..117] %>"></div>
                </footer>
              </section>
            <% end %>
          <% } %>
        <% else %>
          <p>No quotes found.</p>
        <% end %>
        
        <% if @previous || @next %>
          <div id="pagination" class="text-center">
              <p>
                <% if @previous%><a href="<%= @domain %><%= @current_page != '/' ? @current_page.delete_page_by_url : '/page' %>/<%= @page - 1 %>">Previous</a><% end %>
                <% if @next %><a href="<%= @domain %><%= @current_page    != '/' ? @current_page.delete_page_by_url : '/page' %>/<%= @page + 1 %>">Next</a><% end %>
              </p>
          </div>
        <% end %>
        
<%= erb :'partial/foot' %>
