      <footer class="text-right" >
        <p><small><a href="https://github.com/RoxasShadow/Quotone" target="_blank">Quotone</a> (C) 2013</small></p>
      </footer>
      
    </div>

    <script src="<%= @domain %>/bootstrap/js/jquery.js"></script>
    <script src="<%= @domain %>/bootstrap/js/bootstrap-transition.js"></script>
    <script src="<%= @domain %>/bootstrap/js/bootstrap-alert.js"></script>
    <script src="<%= @domain %>/bootstrap/js/bootstrap-modal.js"></script>
    <script src="<%= @domain %>/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="<%= @domain %>/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="<%= @domain %>/bootstrap/js/bootstrap-tab.js"></script>
    <script src="<%= @domain %>/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="<%= @domain %>/bootstrap/js/bootstrap-popover.js"></script>
    <script src="<%= @domain %>/bootstrap/js/bootstrap-button.js"></script>
    <script src="<%= @domain %>/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="<%= @domain %>/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="<%= @domain %>/bootstrap/js/bootstrap-typeahead.js"></script>
    
    <script type="text/javascript">
      window.___gcfg = {lang: '<%= @language %>'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    
  </body>
</html>
