<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <title><% if @title %><%= @title %> | <% else %><% if @quotes.one? %><%= @quotes.first.title %>... | <% end %><% end %>Quotone</title>
    
    <link href="<%= @domain %>/bootstrap/css/bootstrap.min.css"            rel="stylesheet" />
    <link href="<%= @domain %>/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="<%= @domain %>/css/style.css"                              rel="stylesheet" />
    <link href="<%= @domain %>/css/sharrre.css"                            rel="stylesheet" />
    <link href="<%= @domain %>/css/widearea.css"                           rel="stylesheet" />
    
    <meta name="description" content="<%= @quotes.one? ? @quotes.first.description : get_description %>" />
    <meta name="robots"      content="index,follow" />

    <meta property="og:title"       content="<% if @title %><%= @title %> | <% else %><% if @quotes.one? %><%= @quotes.first.title %>... | <% end %><% end %>Quotone" />
    <meta property="og:url"         content="<%= @current_url %>" />
    <meta property="og:site_name"   content="Quotone" />
    <meta property="og:type"        content="blog" />
    <meta property="og:description" content="<%= @quotes.one? ? @quotes.first.description : get_description %>" />
    
    <% if @quotes.one? && thumbnails? %>
      <% get_thumbnail(@quotes.first).each { |t| %>
        <meta property="og:image" content="<%= t['unescapedUrl'] %>" />
      <% } %>
    <% else %>
      <meta property="og:image" content="<%= @domain %>/images/logo.png" />
    <% end %>
    
    <script type="text/javascript" src="<%= @domain %>/javascript/jquery.js"></script>
    <script type="text/javascript" src="<%= @domain %>/javascript/jquery.sharrre.js"></script>
    <script type="text/javascript" src="<%= @domain %>/javascript/widearea.js"></script>
  </head>
  
  <body>  
    <div class="text-center">
      <img src="<%= @domain %>/images/logo.png" width="397" height="76" alt="Quotone" />
    </div>
    
    <div class="container main">
      
        <ul class="nav nav-tabs">
          <% if @current_page == '/' || @current_page.start_with?('/page') %>
            <li class="active">
              <a href="<%= @domain %>/">Index</a>
            </li>
            <li>
              <a href="<%= @domain %>/new">New</a>
            </li>
            <li>
              <a href="<%= @domain %>/favorites">Favorites</a>
            </li>
          <% elsif @current_page.start_with?('/new') %>
            <li>
              <a href="<%= @domain %>/">Index</a>
            </li>
            <li class="active">
              <a href="<%= @domain %>/new">New</a>
            </li>
            <li>
              <a href="<%= @domain %>/favorites">Favorites</a>
            </li>
          <% elsif @current_page.start_with?('/favorites') %>
            <li>
              <a href="<%= @domain %>/">Index</a>
            </li>
            <li>
              <a href="<%= @domain %>/new">New</a>
            </li>
            <li class="active">
              <a href="<%= @domain %>/favorites">Favorites</a>
            </li>
          <% else %>
            <li>
              <a href="<%= @domain %>/">Index</a>
            </li>
            <li>
              <a href="<%= @domain %>/new">New</a>
            </li>
            <li>
              <a href="<%= @domain %>/favorites">Favorites</a>
            </li>
          <% end %>
          
          <% if admin? %>
          <li>
            <a href="<%= @domain %>/admin/logout">Logout</a>
          </li>
          <% end %>
          
          <form action="<%= @domain %>/search" method="post" class="navbar-search pull-right">
            <input type=text class="search-query" name="query" placeholder="Search" />
            <%= csrf_tag %>
          </form>
        </ul>
