<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <title><% if @title %><%= @title %> | <% end %>Quotone</title>
    <link href="<%= @domain %>/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="<%= @domain %>/css/style.css" rel="stylesheet" />
    <link href="<%= @domain %>/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <% if @current_page == ?/ %><meta name="description" content="The place where you can share anonymously your favorite quotes from anime, manga, videogames, books, etc." /><% end %>
    <meta name="robots" content="index,follow" />
  </head>
  
  <body>
  
    <div class="text-center">
      <img src="http://www.quotone.unsigned.it/images/logo.png" width="397" height="76" />
    </div>
    
    <div class="container main">
      
        <ul class="nav nav-tabs">
          <% if @current_page == '/new' %>
            <li>
              <a href="<%= @domain %>/">Index</a>
            </li>
            <li class="active">
              <a href="<%= @domain %>/new">New</a>
            </li>
          <% else %>
            <li class="active">
              <a href="<%= @domain %>/">Index</a>
            </li>
            <li>
              <a href="<%= @domain %>/new">New</a>
            </li>
          <% end %>
        </ul>
